* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  color: #ccc;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

select {
  width: 100%;
  padding: 1rem 0.8rem;
  outline: none;
  border-radius: 5px;
  font-size: 1.8rem;
  color: #ccc;
}

.home__header {
  margin-bottom: 2rem;
  text-align: center;
}

.heading1 {
  font-size: 3rem;
}

.heading5 {
  font-size: 1.5rem;
  color: #ccc;
}

.mb-2 {
  margin-bottom: 4rem;
}

.slider .slick-arrow {
  background: none;
}

.slider .slick-arrow.slick-prev,
.slider .slick-arrow.slick-next {
  background: #97bf0f;
  z-index: 2;
  height: 70px;
  width: 100px;
  border-radius: 100px;
}

.field {
  width: 100%;
  margin-bottom: 2rem;
}

.input {
  width: 100%;
  padding: 1rem 0.8rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
}

.textarea {
  padding: 1rem 0.8rem;
  outline: none;
  border-radius: 5px;
  letter-spacing: 0.5px;
  font-size: 1.8rem;
}

.doctor__new {
  background: #97bf0f;
  background-image: url("./assets/doctor-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.doctor__form {
  width: 50%;
  margin: 0 auto;
}

.doctor__form form {
  width: 80%;
}

.btn {
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  padding: 1rem 0.8rem;
  outline: none;
}

.loginBtn {
  background: #2f007b;
  border-color: #2f007b;
  border-radius: 10px;
  color: #fff;
}

.addBtn {
  background: #eee;
  border-color: #eee;
  border-radius: 10px;
  color: #97bf0f;
}
